@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";


/*   Defaults   */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;


    --font-small: 13px;
    --font-smaller: 11px;


    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-background-color: color .3s
}

body {
    color: var(--dark-color);
    background-color: var(--white-color);
    font-size: 16px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}

h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

h5 {
    font-size: 1.1em;
}

/* first navbar styling */



header {
    width: 100vw;
    /* height: 100%; */
}

.navigation_bar {
    padding: 0 14em !important;
    position: relative;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

#navbarNavDropdown1 .dropdown-menu {

    margin-left: 1rem !important;
    width: fit-content;
    --bs-dropdown-min-width: 5rem !important;
    z-index: 1025 !important;
}

/* #navbarNavDropdown1 ul
{
    position: relative;
    right: 0;
} */

.nav-link:hover {
    color: var(--secondary-color) !important;
}

.icon-text {
    color: var(--secondary-color) !important;
    cursor: pointer;
}

.dropdown-item {
    text-align: center;
}

/* .dropdown:hover ul {
    display: block !important;
} */




/*   second navbar styling   */




.second_nav a,
.icon-text {
    /* font-family: 'Poppins', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--fw6);
    color: var(--dark-color);
}

.second_nav .store,
.side-off .store {
    font-size: 2.1em;
    font-weight: var(--fw8);
    position: relative;
}


.circle {
    position: absolute;
    top: -5px;
    left: -7px;
    background-color: var(--light-bg-color);
    border-radius: var(--percent50);
    width: 38px;
    height: 38px;
    z-index: -1;
}

.circle::before {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--secondary-color);
    border-radius: var(--percent50);
    width: 28px;
    height: 28px;
    z-index: 100;
    opacity: .4;

}

.sports {
    position: relative;
}

.new {
    position: absolute;
    top: -6px;
    right: -15px;
    background-color: var(--primary-color);
    padding: 0 5px;
    border-radius: 3px;
    font-size: 0.7rem;
    /* width: 30px; */
    /* height: 30px; */

}

.sports:hover .new {
    color: var(--dark-color);
}

.right {
    margin-right: 6rem !important;
}


.second_nav {
    z-index: 100;
    position: relative;
}

.icon-large {
    position: relative;
}

.fly-item {
    position: absolute;
    top: -10px;
    left: 16px;
    /* vertical-align:middle; */
    border-radius: var(--percent50);
    width: 16px;
    height: 16px;
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
    text-align: center;
    font-size: 12px;
}

.cart_total_top {
    font-size: 13px;
    margin-top: -18px;
}

.hamburger span {
    font-size: 2.2em;
    display: none;
    cursor: pointer;
}

#navbarNavDropdown ul {
    position: absolute;
    right: 1em;
}






/* designing of the mega menu */


.mega {
    position: absolute;
    left: 0rem;
    width: 100vw;
    background-color: var(--light-bg-color);
    z-index: 1000 !important;
    border-radius: 5px;
    font-size: var(--font-small);
    padding: 0 0 !important;
}

.mega li a:hover {
    color: var(--light-text-color);
}

.view_brand:hover {
    color: var(--light-text-color);
}


.thumbnail {
    width: 15em;
}

.text-content a {
    margin-top: -6px !important;
}

.text-content a:hover {
    color: var(--light-text-color);
}


.text-content {
    text-align: center;
    width: 15em;
    border: 2px solid var(--border-color);
}

.text-content h4 {
    text-align: center !important;
    color: black;
    font-size: 1.5em;
    font-weight: var(--fw8);
}

.text-content button {
    border-radius: 2em;
    background-color: var(--primary-color);
    padding: 0.4em 2.1em;
    color: white;
    transition: all 0.8s ease-out;
    margin-top: 0.5em;
}

.text-content button:hover {
    background-color: var(--secondary-dark-color) !important;
    color: white;
}

.thumbnail img {
    width: 100vw;
    height: 100%;
}



/* designing of the nav_main_part which is present below the 2 navbars */

.nav_main span {
    font-size: 2.2em;
    cursor: pointer;
}

.nav_main {


    z-index: 1 !important;
    background-color: var(--secondary-dark-color);
    width: 100vw !important;
    margin-left: 0rem !important;

}

.nav_main button {

    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);

}

.nav_main .navbar {

    z-index: 1 !important;
}

.nav_main form {

    position: absolute;
    right: 14rem;
}

.nav_main form input {

    padding-right: 6em !important;
    padding-left: 1em !important;
}

.nav_main_part {
    /* width: 286px; */
    position: relative;
    top: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    /* margin-top: 1rem; */
    padding: 0.75em 1.5em;
    border-radius: 7px 7px 0 0;
    z-index: 1000;

}

.nav_p_r {
    position: relative;
    padding: 0 15em !important;
}


.respon_menu {
    position: absolute;
    border: 1px solid var(--border-color);
    width: 286.85px;
    top: 5.2rem;
    z-index: 1;
    border-top: 0;
    /* height: 30em; */

}

.respon_menu ul li a {
    border-bottom: 1px solid var(--border-color);
    margin-left: -1.6rem !important;
    cursor: pointer;
    z-index: 1025;
}

.respon_menu ul li a:hover {
    background-color: var(--light-bg-color);
}

.respon_menu .span1 {
    font-size: 1.8em;
}

.respon_menu .span2 {
    font-size: 1em;
    font-weight: var(--fw6);
}

.respon_menu .span3 {
    font-size: 1.5em;
    margin-right: 1.5em;
    font-weight: var(--fw5);
}

.respon_menu .menu_list {
    position: absolute;
    top: 0;
    left: var(--percent100);
    /* left: 10em; */
    width: var(--percent100);
    height: 100%;
    padding: 1.5em;
    font-size: var(--font-small);
    line-height: 2.5em;
    min-height: var(--percent100);
    border: 1px solid var(--border-color);
    /* border: 1px solid red; */
    border-top: 0;
    z-index: 1000;
    /* display: none !important; */
}

.respon_menu .menu_list li a {
    border-bottom: 0;
    margin-left: 1em !important;
}

/* .respon_menu .hover_1:hover + .hover_item_1
{
    display: block;  
} */
#hover_item_1 {
    background-image: linear-gradient(to bottom, rgb(233 222 222 / 0%) 0%, rgb(61, 61, 61) 100%), url(/Ecommerce/assets/menu/beauty2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.25em !important;
    opacity: 1;

}

#hover_item_1 li a {
    z-index: 100 !important;
    /* color: var(--light-bg-color); */
    font-size: 1.2em;
    /* font-size: var(--font-small); */
    font-weight: var(--fw7) !important;
    color: white;
    color: black;
    padding: 0.6rem;
    border-radius: 1em;
}

#hover_item_1 li a:hover {
    background-color: transparent;
    color: var(--secondary-dark-color);
    color: rgb(40, 40, 40);
}

#hover_item_2 {
    background-image: linear-gradient(to bottom, rgb(233 222 222 / 0%) 0%, rgb(61, 61, 61) 100%), url(/Ecommerce/assets/menu/menu_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.25em !important;
    opacity: 1;
}

#hover_item_2 li a {
    z-index: 100 !important;
    font-size: 1.2em;
    font-weight: var(--fw7) !important;
    color: white;
    color: black;
    padding: 0.6rem;
}

#hover_item_2 li a:hover {
    background-color: transparent;
    color: var(--secondary-dark-color);
    color: rgb(40, 40, 40);
}

#hover_item_3 {
    background-image: linear-gradient(to bottom, rgb(233 222 222 / 0%) 0%, rgb(61, 61, 61) 100%), url(/Ecommerce/assets/menu/menu_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.25em !important;
    opacity: 1;
}

#hover_item_3 li a {
    z-index: 100 !important;
    font-size: 1.2em;
    font-weight: var(--fw7) !important;
    color: white;
    color: black;
    padding: 0.6rem;
}

#hover_item_3 li a:hover {
    background-color: transparent;
    color: var(--secondary-dark-color);
    color: rgb(40, 40, 40);
}

.hover_item_4_class {
    display: none !important;
}

#hover_item_4 {
    width: max-content !important;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    /* align-items: center !important; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(189, 188, 188) 100%), url(/Ecommerce/assets/menu/menu_bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    margin-top: -0.25em !important;
    opacity: 1;
    /* display: none !important; */
}

#hover_item_4 li a {
    z-index: 100 !important;
    font-size: 1.2em;
    font-size: var(--font-small);
    font-weight: var(--fw6) !important;
    /* font-weight: 549 !important; */
    /* color: white; */
    color: rgb(0, 0, 0);
    padding: 0.6rem;
}

#hover_item_4 ul h4 {
    font-weight: var(--fw8) !important;
    font-size: 1.3em;
    margin-left: 1em;
    color: rgb(59, 17, 17);
}

#hover_item_4 li a:hover {
    background-color: transparent;
    color: yellow;
    color: rgb(47, 44, 44);
}

/* Desigining of the aside hamburger menu */

/* I have fixed the hamburger menu */
.off-canvas {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1025 !important;
}

aside {

    display: none;
    /* position: absolute; */
    position: fixed;
    top: -0.9em;
    left: -300px;
    left: -100%;
    width: 300px;
    z-index: 1000;
    background-color: rgb(206, 206, 206);
    background-color: var(--light-bg-color);
    height: 100%;
    transition: left 0.3s ease;
    /* display: none !important; */
    overflow-y: auto !important;
    /* background-color: black; */
    overflow-x: hidden;

}

.side-off {
    left: 0px;

}

aside menu {

    /* position: fixed; */
    width: 300px;
    height: var(--percent100);
    /* overflow-y: auto; */
    font-size: var(--font-small);
    background-color: rgb(206, 206, 206);
    background-color: var(--light-bg-color);
    /* overflow-x: hidden; */

}

.canvas-head {
    background-color: var(--secondary-dark-color);
    border-bottom-right-radius: 160px 25px;
    color: white;
}

.m_logo span {
    z-index: 10;
    opacity: 0.75;
}

.m_logo a {
    color: white !important;
}

.m_logo .m_close {
    position: absolute;
    right: 1.4em;
    top: 1.5em;
    font-size: 1.2em;
    color: white;
    transition: var(--trans-background-color);
    width: 32px;
    height: 32px;
    border-radius: var(--percent50);
    background-color: var(--secondary-dark-color);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m_logo .m_close:hover {
    background-color: var(--white-color);
    color: var(--secondary-dark-color);
    /* color: var(--light-text-color);
   color: rgb(179, 179, 179); */
    opacity: .75;
}

menu .span1 {
    font-size: 1.3em;
}

menu .span2 {
    font-size: 1.3em;
}

.menu_content_1 .text-1 {
    background-color: white;
    border-radius: 7px 7px 0 0;
}

.menu_content_1 {
    border-bottom: 3px solid var(--border-color);
}

.menu_content_2 {
    margin-top: -2em;
    border-bottom: 3px solid var(--border-color);
}

.menu_content_2 .w_menu {
    margin-left: -2.4em;
}

menu .span3 {
    font-weight: var(--fw5);
    font-size: 1.1em;
}

menu .menu_item li a:hover {
    color: var(--light-text-color);
}

menu .heading:hover {
    color: #794afa;
}

.menu_sports {
    left: -1.7em;
    position: relative;
}

.menu_new {
    position: absolute;
    top: -8px;
    /* right: -15px; */
    left: 4em;
    background-color: var(--primary-color);
    padding: 0 5px;
    border-radius: 3px;
    font-size: 0.56rem;
}

.menu_sports:hover .menu_new {
    color: var(--dark-color);
}



/* designing of the main content */
/* main
{
    width: 88%;
    padding: 1em 13em;
    padding-left: 25em;
    margin-left: auto;
} */

main .slide {
    width: 88%;
    padding: 1em 13em;
    padding-left: 23.5em;
    margin-left: auto;

}

.carousel-inner-zin {
    z-index: -1;
}

.carousel-inner-zin+.carousel-indicators {
    z-index: -1;
}


.carousel-item img {
    object-fit: cover;
    /* height: 60vh !important; */
    height: 474px;
}

.carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    margin-left: 15em;
    /* background-color: black; */

}

.carousel-indicators li {
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.carousel-indicators .active {
    background-color: #007bff;
}

.carousel-item {
    position: relative;
}

.slider_text {
    position: absolute;
    height: var(--percent100);
    justify-content: flex-end;
    padding: 0 0 10% 10%;
    /* z-index: 1025; */
    /* bottom: 13em; */
    top: 40%;
    z-index: 2;
}

.carousel-item::before {
    content: " ";
    position: absolute;
    top: 30%;
    left: 0;
    width: 450px;
    height: 300px;
    background-color: var(--white-color);
    z-index: 1;
    filter: blur(50px);
    opacity: .8;

}

.slider_text h6 button {
    border-radius: 2em;
    background-color: var(--primary-color);
    padding: 0.4em 1em;
    color: white;
    transition: all 1s ease-out;
    border: 1px solid var(--primary-color);

}


.slider_text h6 button:hover {
    background-color: var(--secondary-dark-color);
    color: white;
    border: 1px solid var(--secondary-dark-color);
}

.slider_text h4 {
    font-size: var(--font-small);
    font-weight: var(--fw7);
    width: fit-content;
    padding: 4px 10px;
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 4px;
}

.slider_text :where(h2, h3) span:first-child {
    font-weight: var(--fw3);
    columns: var(--light-text-color);
}

.slider_text :where(h2, h3) span:last-child {
    color: var(--secondary-dark-color);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: var(--fw8);
}

#brand_content {
    /* padding: 0 15em; */
    overflow-x: hidden;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
}

#brand_content img {
    opacity: .5;
    transition: opacity .3s;
}

#brand_content img:hover {
    opacity: 1;
}



/* designing to buying products */

.circle2 {
    /* position: absolute;
    top: -5px;
    left: -7px; */
    position: relative;
    background-color: var(--light-bg-color);
    border-radius: var(--percent50);
    width: 38px;
    height: 38px;
    z-index: -1;
    bottom: 5px;
    left: 0.5em;
}

.circle2::before {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--secondary-color);
    border-radius: var(--percent50);
    width: 28px;
    height: 28px;
    z-index: 100;
    opacity: .4;

}

.trend {

    border-bottom: 1px solid var(--border-color);
    padding: 0.5em 0;
    /* border-bottom: 1px solid black; */
}

.trending_materials {
    padding: 0 14em !important;
    overflow-x: hidden;
}

.head_name {
    margin-left: 1em;
}


/* designing of the product items */


.column_1 .offer ul {
    gap: 1em;
    margin-left: 0 !important;
    text-align: center !important;
    margin-right: 2em;
    /* margin-top: -10px; */

}

.column_1 .offer ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: initial;
    width: 34px;
    height: 34px;
    padding: 0.5em;
    color: var(--secondary-dark-color);
    background-color: var(--light-bg-color);
    border-radius: 5px;

}

.column_1 .offer ul li:not(:last-child)::before {

    content: ':';
    position: absolute;
    right: -0.6em;
    color: var(--light-text-color);

}

.column_1 .offer p {
    /* padding-left: 2em; */
    text-align: right !important;
    text-transform: uppercase !important;
}

.first_col .column_1 {
    padding: 2.5em;
    border: 2px solid var(--secondary-dark-color);
    max-width: 460px;
    max-width: 360px;
    margin: 0 2em;
    border-radius: 7px;
    height: 100%;
    flex-grow: 2;
}

.items_img {
    position: relative;
    transition: all 3s ease-out;
}

.imag {
    /* padding: 2em; */
}

.items_img img {
    transition: all 0.3s ease-out;
}

.items_img:hover img {
    transform: scale(1.04);
}

.hoverable li a span {
    /* width: 15px !important; */
    font-size: 20px;
}

.hoverable {
    position: absolute;
    top: 0;
    right: 0;
}

.hoverable li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: var(--percent50);
    line-height: 1;
    background-color: var(--white-color);
    opacity: .5;
    transition: var(--trans-background-color), opacity .3s;
}

.items_img:hover .hoverable li a {
    opacity: 1;
}

.hoverable li a:hover {
    color: white;
    background-color: var(--dark-color);
}

.hoverable li:not(:first-child) {
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s, opacity .2s;
}

.items_img:hover .hoverable li {
    transform: translateX(0);
    opacity: 1;
}

.hoverable li:last-child {
    transition-delay: 0.4s;
}

.hoverable li .activeheart:hover {
    background-color: var(--primary-color);
    color: white;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 100% !important;
    left: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: transparent;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-dark-color);
    padding: 33%;
    border-radius: var(--percent50);
    color: white;
}

.column_1 .item_content,
.main-links,
.price,
.stock {
    gap: 1em;
    margin-top: 0.8em;
}

.item_content .price {
    display: flex;
    align-items: baseline;
}

.item_content .rating {
    display: flex;
    align-items: center !important;
}

.item_content .rating .stars {
    width: 80px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");
    background-repeat-y: no-repeat;
    background-position: top;
}

.item_content h3 {

    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

.item_content h3 a {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw6) !important;

}

.item_content h3 a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.item_content .mini-text {
    /* margin-bottom: 6px; */
    /* margin-left: 10px; */
}

.item_content .price .current {
    font-size: calc(1em + 1vw);
    color: var(--primary-color);
    margin-right: -0.25em;
}

.rating span {
    margin-left: 10px;
    font-size: 0.8em;
}

.price .normal {
    color: var(--light-text-color);
    text-decoration: line-through;
}

.stock .qty {
    display: flex;
    justify-content: space-between;
}

.column_1 .item_content .bar {
    height: 3px;
    background-color: var(--border-color);
    overflow: hidden;
    margin-top: 1em;
}

.column_1 .item_content .bar .availaible {
    width: 21%;
    height: 3px;
    background-color: var(--secondary-color);
}

.trend_items {
    display: flex !important;
    justify-content: space-between !important;
}

.row_1 {
    display: flex !important;
    /* justify-content:space-evenly !important; */
    /* align-items: center !important; */
    /* border: 2px solid red; */
    width: fit-content;
    gap: 2em;

}

.citem {
    /* margin-right: 1em; */
    display: flex;
    /* padding: 0 2em; */
    /* margin: 0 1em; */
    max-width: 20em;
    /* border: 2px solid red; */
}

.column_2 .items_img .imag {
    width: 130px;
    height: 160px;
}

.column_2 .items_img img {
    width: 100%;
    height: 100%;
    /* height: 160px; */
    object-fit: cover;
}

.column_2 .item_content {

    margin: 0 1em;
}

.column_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: flex-end !important;
}

.column_2 .qty {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);

}

.column_2 .qty p:nth-child(2) {
    margin-top: -1em !important;
    /* background-color: black !important; */

}




/* designing of the featured product */

.Featured_materials {
    padding: 0 16em !important;
}

.Featured_materials .item1_img .img1 {
    /* width: 224.6px; */
    height: 336.9px;
}

.Featured_materials .item1_img .img1 img {
    /* object-fit:fill !important; */
    object-fit: cover !important;
    width: 100%;
    height: 100%;
}

.Featured_materials .column_1 {
    /* border: 2px solid black; */
}


/* desigining of the brand_beauty_products */
.brand_beauty_products {
    padding: 0 16em !important;
}

.bbp_img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em 1.5em;

}

.bbp_img .img1 img {
    /* max-width: 400px !important; */
    max-height: 200px;
}

.bord {
    /* width: 300px; */
}

.bbp_img ul {
    font-size: var(--font-small);
    color: var(--light-text-color);
    margin-left: -2.5em;


}

.bbp_img ul li {
    margin-top: 1em;
}

.bbp_img ul li:hover {
    color: var(--secondary-dark-color);
}


.bbp_items {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* margin-left: -1em; */
    /* border: 2px solid rebeccapurple; */
    /* text-align: center; */
}

.bbp {
    /* border: 2px solid red; */

}

.bord {
    /* border: 2px solid black; */
    border: 2px solid var(--border-color);

}

.view_all {
    font-size: 0.8em;
}

.view_all:hover {
    color: var(--secondary-color);
}

.view_all span {
    font-size: var(--font-small);
}

/* designing of the footer */

.foot_search {
    margin-top: 3em;
    padding: 2.5em 15em;
    background-color: var(--dark-color);
    color: var(--white-color);
    overflow-x: hidden;
}

.foot_search strong {
    color: var(--primary-color);
}

.foot_form input {
    /* padding: 0 2em; */
    padding-right: 6em;
}

/* ::placeholder
{
   

} */
.foot_form button {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.foot_form button:hover {
    background-color: var(--secondary-dark-color);
    background-color: green;
}

.foot_menu {
    padding: 3em 14em;
    margin: 0;
    overflow-x: hidden !important;
}

.foot_menu h4 {
    margin-left: 2em;
}

/* .foot_menu .col-3
{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
} */
.foot_menu ul {
    font-size: var(--font-small);
}

.foot_menu ul li a:hover {
    color: var(--light-text-color);
}

.foot_search .container-fluid {
    /* display: flex;
    flex-wrap:; */
}



/*  Media Queries  */

@media screen and (min-width:2000px) {

    main .slide {

        padding: 1em 13em;
        padding-left: 25em !important;

    }
}

@media screen and (min-width:1600px) {
    .navigation_bar {
        /* padding: 0 19em !important; */
    }

    .nav_p_r {
        /* padding: 0 20em !important; */
    }

    /* .nav_2 {
        margin-left: 20em !important;
    } */

    .nav_main form {

        position: absolute;
        right: 19rem;
    }

    main .slide {

        padding: 1em 13em;
        padding-left: 29em;

    }

    .trending_materials {
        padding: 0 12em !important;
    }

    #brand_content .row {
        /* margin-right: 3.5em; */
        padding: 0 20em;
        display: flex;
        flex-grow: 1;
    }

    .citem {
        margin: 0 3em;
    }

    /* .column_1 {
        padding: 2.5em;
        max-width: 860px !important;
        max-height: fit-content;

    } */


}

/* 1400 media querry  */
@media screen and (max-width:1400px) {
    .navigation_bar {
        padding: 0 0 !important;
    }

    .nav_main {
        padding: 0 0 !important;
    }

    .nav_p_r {
        padding: 0 2em !important;
    }

    main .slide {
        padding: 1em 3em;
        padding-left: 15em;

    }


    .nav_main form {

        position: absolute;
        right: 1rem;
    }

    #brand_content .row {
        /* padding: 0 0em; */
        margin-right: 3.5em;
    }

    .trending_materials {
        padding: 0 5em !important;
    }

    .brand_beauty_products .row {
        padding: 0 1em !important;
    }

    .foot_search {
        padding: 3em 5em !important;
    }

    .foot_menu {
        padding: 3em 5em !important;
    }
}


/* 1200 media querry  */

@media screen and (max-width:1200px) {
    .trending_materials {
        padding: 0 2em !important;
    }

    .row_1 {
        gap: 1em;
    }

    .first_col .column_1 {
        max-width: 300px;
        margin: 0 1em;
    }

    .brand_beauty_products .row {
        padding: 0 0em !important;
    }

    .foot_search {
        padding: 3em 2em !important;
    }

    .foot_menu {
        padding: 3em 2em !important;
    }
}

@media screen and (max-width:1100px) {
    .trending_materials {
        padding: 0 0em !important;
    }

    .Featured_materials {
        padding: 0 2em !important;
    }

    .brand_beauty_products {
        padding: 0 2em;
    }

    .brand_beauty_products .row {
        padding: 0 2em !important;
    }

}

@media screen and (max-width:992px) {
    .navigation_bar {
        padding: 0 0em !important;
    }

    /* .second_nav {
        border-bottom: 1px solid var(--border-color);
    } */
    header {
        border-bottom: 1px solid var(--border-color);
    }

    .hamburger span {
        margin-top: -4px;
        display: block;
    }

    .mob-hide {
        display: none;
    }

    .second_nav {
        margin-top: -1.3rem !important;
    }

    .cart_total_top {
        margin-top: -12px;
    }

    .iscart {
        /* margin-right: -40px; */
    }

    .nav_p_r {
        padding: 0 0 !important;
    }

    aside {
        display: block;
    }

    .nav_main {
        display: none;
    }



    main .slide {
        width: 100vw !important;
        /* height: 100vh !important; */
        padding: 1em 0.7em !important;
        /* margin-left: 1em; */
        /* margin-right: -1em; */

    }

    .carousel-item img {
        object-fit: cover !important;
        width: 100% !important;
        height: 80vh !important;
    }

    .carousel-indicators {
        margin-left: auto !important;
        margin-right: 0em;
    }

    .trending_materials {
        padding: 0 1em;
    }

    .first_col .column_1 {
        margin-top: -1em;
        margin-bottom: 4em;
        max-width: 400px;
    }

    .trend_items {
        display: flex !important;
        /* justify-content: space-between !important; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 0 0 100%;
        width: 100%;
        flex-shrink: 3;
    }

    .row_1 {
        display: flex;
        justify-content: space-around !important;
        align-items: flex-end !important;
        width: 100vw;
        flex: 0 0 100%;
        overflow-x: hidden;

    }

    .Featured_materials {
        padding: 0 1em !important;
    }

    .brand_beauty_products {
        padding: 0 1em;
    }

    .brand_beauty_products .row {
        padding: 0 1em !important;
    }

    .foot_search {
        padding: 3em 1em !important;
    }

    .foot_menu {
        padding: 3em 1em !important;
        margin-left: -1.5em;
        margin-top: -1.5em;
    }

    /* .second_nav {
        position: sticky !important;
        top: 1em !important;
        left: 0 !important;
    } */

}

@media screen and (max-width:768px) {

    .first_col .column_1 {
        margin-top: -1em;
        margin-bottom: 4em;
        /* max-width: 100%; */
    }

    .row_1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        /* width: 100vw;
        border: 2px solid red; */
    }

    .citem {
        width: 100% !important;
        max-width: 100%;
        margin-left: 1em;
    }

    .trend {
        margin-left: 0.4em !important;
    }

    .Featured_materials .trend {
        margin-left: 0em !important;
    }

    .foot_search {
        padding: 3em 0em !important;
    }

    .foot_menu {
        padding: 3em 0em !important;
    }

    .foot_form input {
        padding-right: 1em;
    }
}

@media screen and (max-width:576px) {

    .Featured_materials .item1_img .img1 img {
        object-fit: fill !important;
    }
}

@media screen and (max-width:340px) {
    .foot_form input {
        padding-right: 0em;
    }
}

/* updated CSS again*/

@media screen and (max-width:300px) {

    aside {
        width: 100%;
    }

    aside menu {
        width: 100%;
    }



}

/* updated CSS */
